body {
    margin: 0;
    padding: 0;
    font-family: "Schibsted Grotesk", serif;
    
    color: #333;
    background-color: #f0f0f0;
    overflow-x: hidden;
}
#root {
     margin: 0;
    padding: 0;
    font-family: "Schibsted Grotesk", serif;
    color: #333;
    overflow: hidden;
}
.navbar {
    width: 100%;
    backdrop-filter: blur(10px);
    background-color: transparent;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 60px;
}

.navbar-logo {
    font-size: 4rem;
    font-weight: bold;
    color: #ABDF9E;
    text-decoration: none;
     font-family: "Archivo", serif;
    font-weight: 700;
    font-style: italic;

    /* Adjust letter spacing for overlap */
    letter-spacing: -16px;

    /* Optional: Adjust line height for vertical alignment */
    line-height: 1;
}

.navbar-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-item {
    margin-left: 20px;
    
}

.navbar-item a {
    text-decoration: none;
    color: #7E8EF1;
    font-size: 1rem;
    transition: color 0.3s ease;
    cursor: pointer;
}

.navbar-item a:hover {
    color: #ABDF9E;
}
.navbar-Contact-Button
{
    font-size: 1.5rem;
    color: #000;
    text-decoration: none;
    font-family: "Schibsted Grotesk", serif;
    font-weight: 500;
    background-color: #F5FF9C;
    width: 135px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.navbar-Contact-Button:hover
{
    background-color: #ABDF9E;
}
.Burder-Menu
{
    display: none;
}
.horizontal-scroll-container {
    display: flex;
    overflow-x: hidden; /* Prevent vertical scrollbar */
    height: 100vh;
}

.section {
    flex: 0 0 100vw; /* Ensure each section takes full viewport width */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background-color: #f0f0f0;
    border-right: 1px solid #ccc;
}

#tsparticles
{
    position: absolute;
    top: 0%;
    width: 100%;
    height: 90%;
    z-index: -1;
}

.home {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}
.home-Text-Container
{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-left: 20%;
    padding-top: 10%;
}
.Title-Text-Div {
    display: flex;
    flex-direction: column;
    justify-content: center;    

}
.TitleText
{
    font-size: 380%;
    font-weight: bold;
    color: #ABDF9E;
    text-decoration: none;
    font-family: "Archivo", serif;    
    font-weight: 700;
    font-style: italic;
}
.TitleTextBadgeOne
{
    font-size: 1rem;
    color: #000;
    text-decoration: none;  
    font-family: "Archivo", serif;
    font-weight: 500;
    background-color: #F5FF9C;
    width: 136px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    position: relative;
    top: 70px;
    right: -250px;
    transform: rotate(-15deg);
    z-index: 2;
}
.TitleTextBadgeTwo
{
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
    font-family: "Archivo", serif;
    font-weight: 500;
    background-color: #7E8EF1;
    width: 164px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    position: relative;
    top: 75px;
    right: -250px;
    transform: rotate(3deg);
    z-index: 1;
}
.descriptionText
{
    width: 419px;
    font-size: 100%ccd;
    color: #000;
    text-decoration: none;
    font-family: "Schibsted Grotesk", serif;
    font-weight: 700;
}
.buttonContainer
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: 64px;
}
.Contact-Button
{
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
    font-family: "Schibsted Grotesk", serif;
    font-weight: 6500;
    background-color: #7E8EF1;
    width: 152px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;

}
.Contact-Button:hover
{
    background-color: #ABDF9E;
}
.Download-Button
{
    font-size: 1.5rem;
    color: #000;
    text-decoration: none;
    font-family: "Schibsted Grotesk", serif;
    font-weight: 6500;
    background-color: #F5FF9C;
    width: 207px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.Download-Button:hover
{
    background-color: #ABDF9E;
}
.home-Text-Image
{
    position: relative;
    display: flex;
    height: 100%;
}
.thumbsupImageDiv
{
    padding-top: 30%;
}
.tumbsupImage
{
    position: relative;
    height: 30%;
    width: auto;
    z-index: 2;
    top: 20%;
}
.Apbhai
{
    position: relative;
    bottom: -15%;
    right: 15%;
    z-index: 1;
    height: 90%;
    width: 90%;
}
.bulbImage {
    position: relative;
    top: 20%;
    right: 150%;
    z-index: 1;
    height: 20%;
    width: auto;
    
}
.purpleBar
{
    position: absolute;
   height: 100px;
   width: 100%;
   background-color: #7E8EF1;
    bottom: 0px;
    z-index: 2;
}
/* Experience Section */
.ExperienceParent
{
    display: flex;
    flex-direction: column;
    height: 200vh;
    width: 100%;
    
}
.TitleExperience
{
    margin-top: 5%;
    margin-left: 15%;
    font-family: "Schibsted Grotesk", serif;
    font-size: 4rem;
    font-weight: 500;
}
.ExperienceShowCase
{
    position: relative;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 170vh;
    width: 100%;
}
.ExperienceShowCaseMiddleLine
{
    height: 100%;
    width: 3px;
    background-color: #7E8EF1;
   
}
.experienceCard {
    position: relative;
    top: 210%;
    left: -200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    width: 420px;
}
.experienceCardTitle
{
    font-size: 2rem;
    font-weight: 500;
    color: #000;
    font-family: "Schibsted Grotesk", serif;
    margin-top: 20%;
}
.experienceCardDescription
{
    font-size: 1rem;
    font-weight: 500;
    color: #000;
    font-family: "Schibsted Grotesk", serif;
    margin-top: 5%;
    text-align: center;
}
.ExperienceMobile
{
    display: none;
}
.AboutParent
{
    margin-top: 10%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.AboutTitle
{
    margin-top: 5%;
    margin-left: 15%;
    font-family: "Schibsted Grotesk", serif;
    font-size: 4rem;
    font-weight: 500;
    width: 100%;
    display: flex;
}
.AboutDetails
{
    margin-top: 4%;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.AboutmeImage
{
    width: 475px;
    height: 696px;
    background-color: #ABDF9E;
    border-radius: 32px;
}
.aboutBadge
{
    position: relative;
    top: -800px;
    right: -300px;
    z-index: 2;
}
.AboutInfo
{

    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2%;
    justify-content: center;
}
.aboutInfoLong
{
    position: relative;
    width: 515px;
    height: 214px;
    background-color: #DDF2D8;
    border-radius: 32px;
}
.aboutShortParentDiv
{
    width: 515px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.aboutInfoShort
{
    width: 241px;
    height: 214px;
    background-color: #DDF2D8;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.aboutInfoLongNumber
{
    position: relative;
    font-size: 4rem;
    font-weight: 600;
    color: #000;
    font-family: "Schibsted Grotesk", serif;
    margin-top: 5%;
    margin-left: 10%;
}
.aboutInfoLongText
{
    font-size: 2rem;
    font-weight: 600;
    color: #000;
    font-family: "Schibsted Grotesk", serif;
    margin-left: 10%;
}
.aboutInfoShortNumber
{
    font-size: 4rem;
    font-weight: 600;
    color: #000;
    font-family: "Schibsted Grotesk", serif;
    
}
.aboutInfoShortText
{
    width: 162px;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: #000;
    font-family: "Schibsted Grotesk", serif;
    text-align: center;


}
.AboutInfoStarImage {
    position: relative;
    top: -110%; /* Adjust to overlap */
    right: -75%; /* Adjust to overlap */
    z-index: 1;
    height: 80%;
    width: auto;
  }
  .AboutInfoBicepImage
  {
    position: relative;
    top: -80%; /* Adjust to overlap */
    right: 35%; /* Adjust to overlap */
    z-index: 1;
  }
.aboutData
{
    z-index: 3;
    position: relative;
    top: -470px;
    right: -250px;
    
} 
.AboutMobile
{
    display: none;
}
.ProjectParent
{
    
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 170vh;
}
.ProjectTitle
{
    display: flex;
    margin-top: 5%;
    margin-left: 10%;
    font-family: "Schibsted Grotesk", serif;
    justify-content: space-between;
    width: 555px;
}
.ProjectTitleText
{
    font-size:  4rem;
    font-weight: 500;
}
.AllProjectButton
{
    font-family: "Schibsted Grotesk", serif;
    width: 238px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5FF9C;
    border-radius: 16px;
    font-size: 2rem;
    font-weight: 500;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;

}

.AllProjectButton:hover
{
    cursor: pointer;
    background-color: #ABDF9E;
    

}
.ProjectShowcase
{
    margin-left: 10%;
    margin-top: 5%;
    width: 80%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}
.ProjectCardParent
{
    width: 608px;
    height: 372px;
    border-radius: 16px;
    background-color: #7E8EF1;
}
.ProjectCardTitle
{
    font-family: "Schibsted Grotesk", serif;
    color: #232323;
    font-size: 2rem;
    font-weight: 500;
    padding-top: 5%;
    padding-left: 10%;
}
.ProjectCardDescription
{
    font-family: "Schibsted Grotesk", serif;
    color: #232323;
    font-size: 1.5rem;
    font-weight: 500;
    padding-top: 5%;
    padding-left: 10%;
}
.ProjectCardDescriptionText
{
    font-family: "Schibsted Grotesk", serif;
    color: #F5FF9C;
    width: 484px;
    font-size: 1rem;
    font-weight: 500;
    padding-top: 5%;
    padding-left: 10%;
}
.ProjectTecnologyCapsules
{
    padding-top: 3%;
    padding-left: 10%;
    display: flex;
    gap: 16px;

}

.ProjectCapsuleParent
{
    height: 35px;
    width: auto;
    background-color: #232323;
    border-radius: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 8px;
    padding-right: 16px;
    color: #fff;
    gap: 8px;
}

.ProjectCapsuleImage
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background-color: #fff;
}
.ProjectCapsuleText
{
    font-family: "Schibsted Grotesk", serif;
    font-size: 1rem;
    font-weight: 600;
}
.ProjectMobileParentDiv
{
display: none;
}
.CertificationsParent
{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    height: 120vh;
    width: 100%;
}
.CertificationsTitle
{
    display: flex;
    margin-top: 5%;
    margin-left: 10%;
    font-family: "Schibsted Grotesk", serif;
    font-size: 4rem;
    font-weight: 500;
}
.CertificationsShowcase {
    margin-left: 10%;
    margin-top: 5%;
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 64px;
  }
  
  .CertificationsCardParent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 375px;
    height: 339px;
    border-radius: 16px;
    background-color: #F5FF9C; /* Default background color */
  }
.CertificationsCardImage
{
    width: 344px;
    height: 223px;
    background-color: #fff;
    border-radius: 12px;
    margin-top: 4%;
}
.CertificationsCardImageImage
{
    width: 100%;
    height: 100%;
    border-radius: 16px;
}
.CertificationsCardName
{
    width: 344px;
    display: flex;
    justify-content: start;
    margin-top: 4%;
    color: #232323;
    font-size: 1rem;
    font-weight: 500;
}
.CertificationsCardDate
{
    width: 344px;
    display: flex;
    justify-content: start;
    margin-top: 4%;
    color: #232323;
    font-size: 1rem;
    
    font-weight: 500;
}
.ServiceParent
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    align-items: center;

}
.ServicesTitle
{
    width: 80%;
    display: flex;
    margin-top: 5%;
    font-family: "Schibsted Grotesk", serif;
    font-size: 4rem;
    font-weight: 500;
}
.ServicesCardParent
{
    width: 400px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.serviceCardTitle
{
    margin-top: 10%;
    width: 228px;
    font-family: "Schibsted Grotesk", serif;
    font-size: 2rem;
    font-weight: 700;
    text-align: center
}
.serviceCardButton
{
    margin-top: 12%;
    width: 296px;
    height: 50px;
    background-color: #232323;
    color: #fff;
    border-radius: 12px;
    font-size: 1.5rem;
    border: none;
}
.serviceCardButton:hover
{
    margin-top: 12%;
    width: 296px;
    height: 50px;
    background-color: #fff;
    color: #232323;
    border-radius: 12px;
    font-size: 1.5rem;
    border: none;
}
.contactParent
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    align-items: center;

}
.contactTitle
{
    width: 80%;
    display: flex;
    margin-top: 5%;
    font-family: "Schibsted Grotesk", serif;
    font-size: 4rem;
    font-weight: 500;
}
.contactDiv {
    margin-top: 6%;
    width: 50%;
    height: 428px;
    background: linear-gradient(to right, #ABDF9E 0%, #BCE5B1 50%, #CDECC5 100%);
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contactDivTitle
{
    margin-top: 10%;
    font-family: "Archivo", serif;
    font-size: 4rem;
    font-weight: 700;
    font-style: italic;

}
.contactDivButtonsDiv
{
    margin-top: 10%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contactDivButtonEmail
{
    width: 220px;
    height: 65px;
    border-radius: 32px;
    border: none;
    font-size: 1rem ;
}
.contactDivButtonEmail:hover
{
    width: 220px;
    height: 65px;
    border-radius: 32px;
    border: none;
    font-size: 1rem ;
    color: #fff;
    background-color: #7E8EF1;
}
.contactDivButtonLinkedIn
{
    width: 220px;
    height: 65px;
    border-radius: 32px;
    border: none;
    font-size: 1rem ;
    color: #fff;
    background-color: #7E8EF1;
}
.contactDivButtonLinkedIn:hover
{
    width: 220px;
    height: 65px;
    border-radius: 32px;
    border: none;
    font-size: 1rem ;
    color: #000;
    background-color: #fff;
}
.FooterParent
{
    display: flex;
    flex-direction: column;
    height: 30vh;
    align-items: center;
}
.FooterfirstDiv
{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.FooterSocialIcons
{
    width: 100px;
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
    color: #000;
    text-decoration: none;
}
.FooterSocialIcons a {
    color: inherit;  /* Removes the default color */
    text-decoration: none;  /* Removes the underline */
  }
  .FooterSocialIcons a:hover {
    color: inherit;  /* Ensures the color stays the same on hover */
  }
.FooterSecondDiv
{
    margin-top: 9%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*small moniter*/
@media screen and (max-width: 1600px) and (max-height: 900px) {
    .AboutmeImage
    {
        width: 375px;
        height: 596px;
        background-color: #ABDF9E;
        border-radius: 32px;
    }
    .AboutAp
    {
        width: 100%;
        height: 100%;
    }
    .aboutBadge
    {
        position: relative;
        top: -120%;
        right: -60%;
        z-index: 2;
        height: 40%;
    }
    .aboutData
    {
        z-index: 3;
        position: relative;
        top: -75%;
        right: -42%;
        
    }
    .aboutInfoLong
    {
        position: relative;
        width: 515px;
        height: 190px;
        background-color: #DDF2D8;
        border-radius: 32px;
    }
    .aboutInfoShort
    {
        width: 241px;
        height: 190px;
        background-color: #DDF2D8;
        border-radius: 32px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .ProjectParent
    {
        margin-top: 15%;
    }
    .ProjectShowcase
    {
        margin-left: 2%;
        margin-top: 5%;
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 5%;
    }
    .ProjectCardParent
    {
        width: 508px;
        height: 352px;
        border-radius: 16px;
        background-color: #7E8EF1;
    }
    .ProjectCardTitle
    {
        font-family: "Schibsted Grotesk", serif;
        color: #232323;
        font-size: 2rem;
        font-weight: 500;
        padding-top: 10%;
        padding-left: 6%;
    }
    .ProjectCardDescription
    {
        font-family: "Schibsted Grotesk", serif;
        color: #232323;
        font-size: 1.5rem;
        font-weight: 500;
        padding-top: 5%;
        padding-left: 6%;
    }
    .ProjectCardDescriptionText
    {
        font-family: "Schibsted Grotesk", serif;
        color: #F5FF9C;
        text-align: justify;
        width: 440px;
        font-size: .75rem;
        font-weight: 500;
        padding-top: 5%;
        padding-left: 6%;
    }

    .ProjectTecnologyCapsules
    {
        padding-top: 3%;
        padding-left: 6%;
        font-size: 0.5rem;
        display: flex;
        gap: 16px;

    }
    .ProjectCapsuleText
    {
        font-family: "Schibsted Grotesk", serif;
        font-size: 0.75rem;
        font-weight: 600;
    }
    .CertificationsParent
    {
        margin-top: 25%;
        display: flex;
        flex-direction: column;
        height: 120vh;
        width: 100%;
    }
    .CertificationsShowcase {
        margin-left: 5%;
        margin-top: 5%;
        width: 90%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }
      .CertificationsCardParent {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 325px;
        height: 339px;
        border-radius: 16px;
        background-color: #F5FF9C; /* Default background color */
      }
      .CertificationsCardImage
        {
            width: 294px;
            height: 223px;
            background-color: #fff;
            border-radius: 12px;
            margin-top: 4%;
        }
        .CertificationsCardName
        {
            width: 294px;
            display: flex;
            justify-content: start;
            margin-top: 4%;
            color: #232323;
            font-size: 1rem;
            font-weight: 500;
        }
    .CertificationsCardDate
    {
        width: 294px;
        display: flex;
        justify-content: start;
        margin-top: 4%;
        color: #232323;
        font-size: 1rem;
        
        font-weight: 500;
    }
      .ServicesCardParent
      {
          width: 320px;
          height: 200px;
          display: flex;
          flex-direction: column;
          align-items: center;
          border-radius: 32px;
      }
      .serviceCardTitle
    {
        margin-top: 6%;
        width: 228px;
        font-family: "Schibsted Grotesk", serif;
        font-size: 2rem;
        font-weight: 700;
        text-align: center
    }  
    .ServiceParent
    {
        margin-top: 15%;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        align-items: center;
    
    }
    .serviceCardButton
    {
        margin-top: 6%;
        width: 70%;
        height: 50px;
        background-color: #232323;
        color: #fff;
        border-radius: 12px;
        font-size: 1.5rem;
        border: none;
    }
    .contactParent
    {
        margin-top: 5%;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        align-items: center;
    
    }
    .contactDivButtonsDiv
    {
        width: 80%;
    }
}


@media screen and (min-width: 2115px) and (min-height: 1200px) {
    .home-Text-Container
    {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: start;
        margin-left: 20%;
        padding-top: 30%;
    }
    .AboutParent
    {
        margin: 0%;
    }
    .ProjectParent
    {
        
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
    }
    .CertificationsShowcase
    {
        width: 60%;
        height: 50%;
        
    }
    .contactDiv
    {
        height: 40%;
    }
    
}



/* mobile*/
@media screen and (max-width: 600px) {
    .navbar-logo
    {
        font-size: 2rem;
        letter-spacing: -8px;
    }
    .navbar-menu
    {
        display: none;
    }
    .navbar-Contact-Button
    {
        display: none;
    }
    .Burder-Menu
    {
        display: block;
        font-size: 2rem;
        color: #ABDF9E;
        cursor: pointer;
    }
    .MobileNavbarLinksDiv {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        backdrop-filter: blur(10px);
        background-color: #ABDF9E;
        position: absolute;
        color: #7E8EF1;
        top: 105%; 
        left: 0%;
        width: 100%;
        height: 45dvh;
        z-index: 999;
        margin: 0%;
      }
      .MobileNavbarLinks {
        font-size: 18px;
        font-weight: 600;
        color: #7E8EF1;
        cursor: pointer;
        width: 100%;
        text-align: center;
      }
      .MobileNavbarLinks:hover {
        background-color: #f0f0f0;
        backdrop-filter: blur(10px);
        background-color: transparent;
      }
    .home-Text-Container
    {
        margin-left: 7%;
        padding-top: 70%;
    }

    .TitleText
    {
        font-size: 2rem;
        font-weight: bold;
        color: #ABDF9E;
        text-decoration: none;
        font-family: "Schibsted Grotesk", serif;
        font-weight: 700;
        font-style: italic;
    }
        .TitleTextBadgeOne
    {
        font-size: 0.5rem;
        color: #000;
        text-decoration: none;
        font-family: "Schibsted Grotesk", serif;
        font-weight: 500;
        background-color: #F5FF9C;
        width: 68.75px;
        height: 17.51px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 16px;
        position: relative;
        top: 30px;
        right: -120px;
        transform: rotate(-15deg);
        z-index: 2;
    }
    .TitleTextBadgeTwo
    {
        font-size: 0.5rem;
        color: #fff;
        text-decoration: none;
        font-family: "Schibsted Grotesk", serif;
        font-weight: 500;
        background-color: #7E8EF1;
        width: 82px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 16px;
        position: relative;
        top: 40px;
        right: -120px;
        transform: rotate(3deg);
        z-index: 1;
    }
    .descriptionText
    {
        width: 175px;
        font-size: 0.5rem;
        color: #000;
        text-decoration: none;
        font-family: "Schibsted Grotesk", serif;
        font-weight: 700;
    }
    .buttonContainer
    {
        position: relative;
        top: 16px;
        margin: 0%;
        width: 175px;
        display: flex;
        justify-content: start;
    }
    .Download-Button
    {

        display: none;
    }
    .Contact-Button
    {
        font-size: 0.75rem;
        color: #fff;
        text-decoration: none;
        font-family: "Schibsted Grotesk", serif;
        font-weight: 500;
        background-color: #7E8EF1;
        width: 101px;
        height: 41px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 16px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        cursor: pointer;

    }
    .Apbhai
    {
        position: relative;
        bottom: -125px;
        z-index: 1;
        height: 50%;
        width: 50%;
        right: 350px;
    }
    .tumbsupImage {
        position: relative;
        height: 50%;
        top: 90px;
        left: -150px;
    }
    .bulbImage {
        position: relative;
        top: 30px;
            right: 490px;
            z-index: -1;
            height: 27%;
            
    }
    /* important for herosection*/
    #tsparticles
    {

        position: absolute;
        top: 0%;

        width: 100%;
        height: 80%;
        z-index: -1;
    }
        .home {
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        overflow: hidden;
    }
    .purpleBar
    {
        position: absolute;
       height: 100px;
       width: 100%;
       background-color: #7E8EF1;
        bottom: 100px;
        z-index: 1;
    }
    .ExperienceParent
    {
        display: none;
    }
    .ExperienceMobile
    {
        display: block;
        height: 140vh;
    }
    .ExperienceMobileTitle
    {

        font-size: 2rem;
        font-weight: 500;
        color: #000;
        font-family: "Schibsted Grotesk", serif;
        margin-top: 15%;
        margin-left: 7%;
    }
    .ExperienceMobileShowcase
    {
        margin-top: 10%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 120vh;
        width: 100%;
    }
    .ExperienceMobileCard
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 150px;
        width: 274px;
        
    }
    .ExperienceMobileCardTitle
    {
        font-size: 1rem;
        font-weight: 500;
        color: #000;
        font-family: "Schibsted Grotesk", serif;
        margin-top: 3%;
    }
    .ExperienceMobileCardDescription
    {
        width: 190px;
        font-size: 0.75rem;
        font-weight: 500;
        color: #000;
        font-family: "Schibsted Grotesk", serif;
        margin-top: 5%;
        text-align: center;
    }
    .AboutParent
    {
        display: none;
    }
    .AboutMobile
    {
        display: block;
        height: 100vh;
        width: 100%;
    }
    .AboutMobileDetails
    {
        display: flex;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .AboutMobileTitle
    {
        margin-top: 15%;
        margin-left: 15%;
        font-family: "Schibsted Grotesk", serif;
        font-size: 2rem;
        font-weight: 500;
        width: 90%;
        display: flex;
    }
    .AboutDetails
    {
        margin-top: 1%;
        width: 80%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .aboutInfoLong
    {
        width: 345px;
        height: 155px;
        background-color: #DDF2D8;
        border-radius: 32px;
    }
    .aboutShortParentDiv
    {
        width: 345px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .aboutInfoShort
    {
        width: 159px;
        height: 155px;
        background-color: #DDF2D8;
        border-radius: 32px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .aboutInfoLongNumber
    {
        font-size: 4rem;
        font-weight: 600;
        color: #000;
        font-family: "Schibsted Grotesk", serif;
        margin-top: 10%;
        margin-left: 10%;
    }
    .aboutInfoLongText
    {
        font-size: 1rem;
        font-weight: 600;
        color: #000;
        font-family: "Schibsted Grotesk", serif;
        margin-left: 10%;
    }
    .aboutInfoShortNumber
    {
        font-size: 4rem;
        font-weight: 600;
        color: #000;
        font-family: "Schibsted Grotesk", serif;
        
    }
    .aboutInfoShortText
    {
        width:86px;
        display: flex;
        justify-content: center;
        font-size: 0.75rem;
        font-weight: 600;
        color: #000;
        font-family: "Schibsted Grotesk", serif;
        text-align: center;


    }
    .AboutInfoBicepImage
    {
        display: none;
    }
    .AboutInfoStarImage
    {
        display: none;
    }
    .ProjectParent
    {
        display: none;
    }
    .ProjectMobileParentDiv
    {
        margin-top: 15%;

        display: block;
        width: 100%;
        height: 110vh;
    }
    .ProjectMobileDetails
    {
        display: flex;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .ProjectMobileTitleDiv
    {
        margin-top: 15%;
        margin-left: 15%;
        font-family: "Schibsted Grotesk", serif;
        font-size: 2rem;
        font-weight: 500;
        width: 90%;
        display: flex;
        gap: 8px;
    }
    .AllProjectMobileButton
    {
        background-color: #F5FF9C;
        width: 102px;
        height: 36px;
        font-size: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    }
    .AllProjectMobileButton:active
    {
        background-color: #ABDF9E;
        width: 102px;
        height: 36px;
        font-size: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    }
    .ProjectMobileShowcase
    {
        margin-top: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        gap: 24px;
    }
    .ProjectCardParent
    {
        width: 304px;
        height: 186.5px;
        border-radius: 16px;
        background-color: #7E8EF1;
    }
    .ProjectCardTitle
    {
        font-family: "Schibsted Grotesk", serif;
        color: #232323;
        font-size: 1rem;
        font-weight: 500;
        padding-top: 5%;
        padding-left: 10%;
    }
    .ProjectCardDescription
    {
        font-family: "Schibsted Grotesk", serif;
        color: #232323;
        font-size: 0.75rem;
        font-weight: 500;
        padding-top: 5%;
        padding-left: 10%;
    }
    .ProjectCardDescriptionText
    {
        font-family: "Schibsted Grotesk", serif;
        color: #F5FF9C;
        width: 231px;
        font-size: 0.5rem;
        font-weight: 500;
        padding-top: 5%;
        padding-left: 10%;
    }
    .ProjectTecnologyCapsules
    {
        padding-top: 3%;
        padding-left: 10%;
        display: flex;
        gap: 8px;

    }
    .ProjectCapsuleParent
    {
        height: 21px;
        width: auto;
        background-color: #232323;
        border-radius: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 4px;
        padding-right: 8px;
        color: #fff;
        gap: 8px;
    }
    .ProjectCapsuleImage
    {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: #fff;
    }
    .ProjectCapsuleText
    {
        font-family: "Schibsted Grotesk", serif;
        font-size: 0.5rem;
        font-weight: 600;
    }
    .dot-pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
      }
      
      .dot {
        width: 12px;
        height: 12px;
        margin: 0 8px;
        border-radius: 50%;
        background-color: #ABDF9E;
        cursor: pointer;
        transition: background-color 0.3s;
      }
      
      .dot:hover {
        background-color: #DDF2D8;
      }
      
      .dot.active {
        background-color: #7E8EF1;
        width: 16px;
        height: 8px;
        border-radius: 6px;
      }
      .CertificationsParent
    {
        margin-top: 15%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 300vh;
        width: 100%;
    }
      .CertificationsTitle
      {
        margin-left:0%;
        display: flex;
        font-family: "Schibsted Grotesk", serif;
        font-size: 2rem;
        font-weight: 500;
        justify-content: start;
        width: 80%;
      }
      .CertificationsShowcase
      {
        margin-top: 5%;
        margin-left: 0%;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .CertificationsCardParent {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 345px;
        height: 300px;
        border-radius: 16px;
        background-color: #F5FF9C; /* Default background color */
      }
    .CertificationsCardImage
    {
        width: 324px;
        height: 206px;
        background-color: #fff;
        border-radius: 12px;
        margin-top: 4%;
    }
    .CertificationsCardImageImage
    {
        width: 100%;
        height: 100%;
        border-radius: 16px;
    }
    .CertificationsCardName
    {
        width: 344px;
        display: flex;
        justify-content: start;
        margin-top: 4%;
        color: #232323;
        font-size: 1rem;
        font-weight: 500;
        margin-left: 5%;
    }
    .CertificationsCardDate
    {
        width: 344px;
        display: flex;
        justify-content: start;
        margin-top: 4%;
        color: #232323;
        font-size: 1rem;
        margin-left: 5%;
        font-weight: 500;
    }
    .ServiceParent
    {
        margin-top: 35%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 200vh;
        width: 100%;
    }
    .ServicesTitle
    {
        width: 80%;
        display: flex;
        margin-top: 5%;
        font-family: "Schibsted Grotesk", serif;
        font-size: 2rem;
        font-weight: 500;
    }
    .ServicesCardParent
    {
        width: 266.67px;
        height: 166.67px;
        display: flex;
        background-image: url('../public/ServiceCardmobile.png') !important; 
        flex-direction: column;
        align-items: center;
    }
    .CertificationsShowcase
      {
        margin-top: 10%;
        margin-left: 0%;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    .serviceCardTitle
    {
        margin-top: 10%;
        width: 114px;
        font-family: "Schibsted Grotesk", serif;
        font-size: 1rem;
        font-weight: 700;
        text-align: center
    }
    .serviceCardButton
    {
        margin-top: 12%;
        width: 197.33px;
        height: 32.67x;
        background-color: #232323;
        color: #fff;
        border-radius: 12px;
        font-size: .75rem;
        border: none;
    }
    .serviceCardButton:hover
    {
        
        margin-top: 12%;
            width: 197.33px;
            height: 32.67x;
            background-color: #fff;
            color: #232323;
            border-radius: 12px;
            font-size: .75rem;
            border: none;
    
    }
    .contactParent
    {
        margin-top: 35%;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 60vh;
        align-items: center;

    }
    .contactTitle
    {
        width: 80%;
        display: flex;
        margin-top: 5%;
        font-family: "Schibsted Grotesk", serif;
        font-size: 2rem;
        font-weight: 500;
    }
    .contactDiv {
        margin-top: 6%;
        width: 331px;
        height: 273px;
        background: linear-gradient(to right, #ABDF9E 0%, #BCE5B1 50%, #CDECC5 100%);
        border-radius: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contactDivTitle
    {
        margin-top: 10%;
        font-family: "Archivo", serif;
        font-size: 2rem;
        font-weight: 700;
        font-style: italic;

    }
    .contactDivButtonsDiv
    {
        margin-top: 10%;
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 32px
    }
    .contactDivButtonEmail
    {
        width: 110px;
        height: 32.5px;
        border-radius: 32px;
        border: none;
        font-size: 1rem ;
    }
    .contactDivButtonEmail:hover
    {
        width: 110px;
        height: 32.5px;
        border-radius: 32px;
        border: none;
        font-size: 1rem ;
        color: #fff;
        background-color: #7E8EF1;
    }
    .contactDivButtonLinkedIn
    {
        width: 110px;
        height: 32.5px;
        border-radius: 32px;
        border: none;
        font-size: 1rem ;
        color: #fff;
        background-color: #7E8EF1;
    }
    .contactDivButtonLinkedIn:hover
    {
        width: 110px;
        height: 32.5px;
        border-radius: 32px;
        border: none;
        font-size: 1rem ;
        color: #000;
        background-color: #fff;
    }
    .FooterSecondDiv
    {
        margin-top: 30%;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }


}

@media screen and (max-width: 600px) and (max-height: 820px) {

    /* Your CSS rules here */
    .Apbhai
    {
        position: relative;
        bottom: -135px;
        z-index: 1;
        height: 50%;
        width: 50%;
        right: 350px;
    }
    .purpleBar
    {
        position: absolute;
       height: 100px;
       width: 100%;
       background-color: #7E8EF1;
        bottom: 50px;
        z-index: 1;
    }
    

  }

  @media screen and (max-width: 600px) and (min-height: 880px) {
    /* Your CSS rules here */
    .Apbhai
    {
        position: relative;
        bottom: -175%;
        z-index: 1;
        height: 50%;
        width: 50%;
        right: 350px;
    }
    .purpleBar
    {
        position: absolute;
       height: 100px;
       width: 100%;
       background-color: #7E8EF1;
        bottom: 150px;
        z-index: 1;
    }

  }
  
